@{
    Layout = null;
}
<partial name="ScriptAddToModal" />


<h4 class="box-title text-info mb-0"><i class="ti-user me-15"></i>خطا در بارگزاری اطلاعات</h4>
<hr class="my-15">
<div class="row">
    <h3>@ViewBag.ErrorCode_</h3>
    <h3>@ViewBag.Message_</h3>
</div>

<div class="row">
    <div class="col-md-12">
        <ButtonBackModal></ButtonBackModal>
    </div>
</div>


