@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Log out";

}
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Author Book Tree View</div>
    <div id="frm-author" class="panel-body" style="text-align:left;">
        <h1>@ViewData["Title"]</h1>
        @{
            if (User.Identity?.IsAuthenticated ?? false)
            {
                <form class="form-inline" name="form-logout" asp-page="/Auth/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
                </form>
            }
            else
            {
                <p>You have successfully logged out of the application.</p>
            }
        }
    </div>
</div>

@* <script src="~/src/js/jquery.min.js"></script>
<script>
    $(function () {
        console.log('submit');
        $("#form-logout").submit();
        console.log('submit1');
    })
</script> *@
