@{
    Layout = null;
}
<div class="user-panel">
    <div class="image" id="AvatarImageProfile">
        <img src="@ViewBag.AvatarPic" class="rounded-circle" alt="User Image">
    </div>
    <div class="info">

        <div>
            <p>@ViewBag.UserName</p>

        </div>

        <a href="#"><i class="fa fa-circle text-success"></i> @ViewBag.RoleName</a>
    </div>
</div>


