﻿@{
    Layout = null;
}


@* 
<label asp-for="RestaurantId" class="form-label"></label>
<select asp-for="RestaurantId" asp-items="@Model.SelectListResturant">
    <option value="">انتخاب کنید</option>
</select>
<span asp-validation-for="RestaurantId" class="text-danger field-validation-valid"></span> *@